body{
  background-color: #282c34;
}
h1{
  padding: 15px;
  background-color: black;
 
}
.App {
  text-align: center;
  color: white;
  
}
.navegacion{
  background-color: #282c34;
  margin-left:40%; 
  margin-right: 40%;
  margin-bottom: 20px;
}
.item{
  
  display:inline;
  margin-right: 10px;
  
}
div.productos{
  display: flex;
  justify-content: center;
  text-align: center;
}
div.asd{
  background-color: black;
  margin-right: 10px;
  margin-left: 10px;
  
  border-radius: 10px;
}
div.botones{
  display:flex;
  justify-content: space-between;
  margin-top: 50px;
  margin-right: 10px;
  margin-left: 15px;
  
  
}
button.agregarQuitar{
  background-color: whitesmoke;
  margin: 0% auto ;
  border-radius: 10%;
  margin-top: 10px;
  margin-bottom: 10px;


}
button.compra{
  margin-bottom: 10px;
}

