body{
  background-color: #282c34;
}
h1{
  padding: 15px;
  background-color: black;
 
}
.App {
  text-align: center;
  color: white;
}
.navegacion{
  background-color: #282c34;
  margin-left:40%; 
  margin-right: 40%;
  margin-bottom: 20px;
}
.item{
  
  display:inline;
  margin-right: 10px;
  
}
